.container{
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.web-camera{
    width: 60%;
    margin: 5%;
}

.camera{
    border-radius: 20px;
}

.chatbot{
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5vh;
    margin-right: 1%;
    max-height: 90vh;
    overflow-y: scroll;
    background-color:black;
    border-radius: 20px;
}